<div class="container-fluid p-0">
    <div class="row" id="body-row">
        <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
            <ul class="list-group">
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small> MENU</small>
                </li>
                <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-dashboard fa-fw mr-3"></span>
                        <span style="color: darkslategrey;" class="menu-collapsed">CLUB</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                <div id='submenu1' class="collapse sidebar-submenu">
                    <a routerLink="/dashboard/user" class="list-group-item list-group-item-action bg-dark text-white">
                        <span style="color:bisque" class="menu-collapsed">GERER CLUB
                        </span>
                    </a>
                </div>
                <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-user fa-fw mr-3"></span>
                        <span class="menu-collapsed" style="color: darkslategrey;"> OWNER</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                <div id='submenu2' class="collapse sidebar-submenu">
                    <a routerLink="/dashboard/owner" class="list-group-item list-group-item-action bg-dark text-white">
                        <span style="color:bisque" class="menu-collapsed">GERER OWNER</span>
                    </a>
                 </div>
                <a href="#submenu3" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-user fa-fw mr-3"></span>
                        <span class="menu-collapsed" style="color: darkslategrey;">KINDERGARTEN</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                <div id='submenu3' class="collapse sidebar-submenu">
                    <a routerLink="/dashboard/kinder" class="list-group-item list-group-item-action bg-dark text-white">
                        <span style="color:bisque" class="menu-collapsed">GERER KINDERGARTEN</span>
                    </a>
                    </div>
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                </li>
                <li class="list-group-item sidebar-separator menu-collapsed"></li>
            </ul>
        </div>
        <div class="col">

            <h1>
                CLUB PROJECT <small class="text-muted"></small>
            </h1>


            <div class="card">
                <router-outlet></router-outlet>
            </div>



        </div>
        <li class="nav-item px-5" dropdown placement="bottom right">
            <a class="nav-link" style="font-weight: bold;" href="#" role="button" aria-haspopup="true" (click)="logout()">
                <img style="height: 20px;" src="assets/deconnect.png" class="img-avatar" /> Déconnexion
            </a>
        </li>
    </div>
   

</div>
